<div class="measure-list-container">
  
  <section class="list-card mat-elevation-z8">
    
    <header class="list-header">
      <button mat-icon-button [routerLink]="['/app/mis-plantas']">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="list-title">Lista de mediciones</h2>
      <div class="header-spacer"></div>
    </header>

    <div class="card-grid">
      
      <mat-card class="item-card" 
                *ngFor="let element of dataSource.data | slice: (paginator.pageIndex * paginator.pageSize) : ((paginator.pageIndex + 1) * paginator.pageSize)">

        <mat-card-header>
          <mat-card-title>Medición No. {{ element.idMedicion }}</mat-card-title>
          <mat-card-subtitle>Planta: {{ element.planta.nombrePlanta || 'N/A' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Fecha:</strong> {{ element.fecha_med | date: 'dd/MM/yyyy' }}</p>
          <hr>
          <p>
            <strong>Humedad:</strong> {{ element.humedad }}% | 
            <strong>Temp:</strong> {{ element.temperatura }}°C | 
            <strong>pH:</strong> {{ element.ph }}
          </p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button 
  mat-icon-button 
  class="btn-edit" 
  [routerLink]="['/app/medicion/editar', element.idMedicion]"
  *ngIf="isAdmin()||isCientifico()" 
>
  <mat-icon>edit</mat-icon>
</button>
          <button mat-icon-button class="btn-delete" (click)="eliminar(element.idMedicion)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card>
    </div>
    <mat-paginator
      #paginator
      [length]="dataSource.data.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>

  </section>
</div>